<!-- app/views/startups/edit.html.erb -->
<div class="container mt-5" data-controller="filter">
  <div class="edit-content-container">
  <%= render "form", startup: @startup %>
  <br>
  </div>
</div>
