<!-- app/views/startups/index.html.erb -->
<div class="content-container">
  <div class="container mt-5">
    <% if @startups.empty? %>
       No fundraisings in the selected period.
      </div>
    <% else %>
      <div id="startups-container" class="row cards-row">
        <%= render partial: 'startups/startups_list', locals: { startups: @startups } %>
      </div>
    <% end %>
  </div>
</div>
