<div class="container" style="margin-top: 70px;">
<%= render @startup %>
<br>
<div>
  <%= link_to "Edit this startup", edit_startup_path(@startup) %> |
  <%= link_to "Back to startups", startups_path %>
</div>
