<!-- app/views/home/index.html.erb -->
<% content_for :page_title, "Perpetual Growth" %>
<div class="typewriter-container" data-controller="hello">
  <p data-hello-target="output" class="typewriter-output"></p>
</div>
