<!-- app/views/home/index.html.erb -->
<% content_for :page_title, "Perpetual Growth. Empowering European Tech Founders" %>
<div class="typewriter-container" data-controller="hello">
   <a href="/alfred" target="_blank">
    <p data-hello-target="output" class="typewriter-output"></p>
  </a>
</div>
