<!-- app/views/home/index.html.erb -->
<% content_for :page_title, "Perpetual Growth. Empowering European Tech Founders" %>
<div class="typewriter-container" data-controller="hello">
  <p data-hello-target="output" class="typewriter-output"></p>
</div>
<div class="alfred-container-btn" data-controller="button">
  <p data-button-target="text" class="additional-text" style="display: none;">sourcing agent </p>
  <a href="/alfred" target="_blank" data-button-target="button" class="explore-btn" style="display: none;">
    Explore
  </a>
</div>
