.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon-text {
    margin-left: 5px; /* Increase or decrease as needed */
  }
}

.btn-primary.btn-custom {
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White text color */
  border-color: #000000; /* Black border color */
}

.btn-primary.btn-custom:hover {
  background-color: #333333; /* Darker background on hover */
  color: #ffffff; /* Ensure text color remains white */
}

.btn-secondary.btn-custom {
  background-color: transparent;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary.btn-custom:hover {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-danger.btn-custom {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.btn-custom:hover {
  background-color: #dc3545;
  color: #ffffff;
}

.alfred-container-btn {
  position: absolute;
  top: calc(50% + 40px); /* Adjusted to push the button down */
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  text-align: center;

  .additional-text {
    font-size: 18px; /* Adjust font size as needed */
    color: #333;
    margin-bottom: 10px; /* Space between text and button */
  }

  .custom-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Move the switch down */
    margin-left: 15px; /* Move the switch to the right */
  }
}

.custom-switch .form-check-input {
  width: 90px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-image: radial-gradient(circle, black 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: 3px center; /* Initial position of the black ball */
  background-size: 24px 24px; /* Size of the black ball */
}

.custom-switch .form-check-input:checked {
  background-color: black;
  border-color: black;
  background-image: radial-gradient(circle, white 50%, transparent 50%);
  background-position: calc(100% - 3px) center; /* Position of the white ball when checked */
}

.custom-switch .form-check-input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Consistent shade for both states */
}

.custom-switch .form-check-input:checked:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Consistent shade for both states */
}

.custom-switch .form-check-input:focus {
  box-shadow: none;
}
