.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon-text {
    margin-left: 5px; /* Increase or decrease as needed */
  }
}

.btn-primary.btn-custom {
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White text color */
  border-color: #000000; /* Black border color */
}

.btn-primary.btn-custom:hover {
  background-color: #333333; /* Darker background on hover */
  color: #ffffff; /* Ensure text color remains white */
}

.btn-secondary.btn-custom {
  background-color: transparent;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary.btn-custom:hover {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-danger.btn-custom {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.btn-custom:hover {
  background-color: #dc3545;
  color: #ffffff;
}

.alfred-container-btn {
  position: absolute;
  top: calc(50% + 10px); /* Adjust to position the button below the typewriter */
  left: calc(50% + 2.5px);
  transform: translate(-50%, 0);
  text-align: center;

  .additional-text {
    font-size: 18px; /* Adjust font size as needed */
    color: #333;
    margin-bottom: 10px; /* Space between text and button */
  }

  .explore-btn {
    display: none; // Initially hidden
    background-color: black;
    color: white;
    margin-top: 80px;
    border-radius: 5px;
    padding: 10px 60px; // Increased padding to make the button wider
    border: none; // Remove default button border
    cursor: pointer; // Change cursor to pointer when hovering over the button
    transition: background-color 0.3s; // Smooth transition for background color
    text-decoration: none;

    &:hover {
      background-color: #333; // Darker background on hover
    }
  }

  .explore-btn a {
    text-decoration: none; // Remove link underline
    color: white; // Ensure text color remains white
  }
}
