
.navbar-wrapper {
  position: fixed;
  top: var(--navbar-height);
  width: 100%;
  z-index: 999;
  background-color: #FFFFFF;
  padding-bottom: 20px;

  .container-fluid {
    max-width: 1281px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--navbar-wrapper-height);
    position: relative;
  }

    .container-fluid::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: calc(100% + 16px);
    border-bottom: 1px solid #ccc;
  }
}


.custom-navbar {
  width: 100%;
  margin-bottom: -1px;
  padding-top: 20px;
  display: flex;

  .nav-tabs {
    flex-grow: 1;
  }

  .dropdown {
    margin-left: auto;
    margin-right: -10px;

    .fa-icon {
      margin-right: 10px;
      margin-left: -10px;
    }

    .dropdown-toggle {
      background-color: #007bff;
      border-color: #007bff;
      color: white;
      width: 160px;
      text-align: right;

      &:hover,
      &:focus {
        background-color: darken(#007bff, 10%);
        border-color: darken(#007bff, 10%);
      }

      &.disabled {
        background-color: #6c757d !important;
        border-color: #6c757d !important;
        color: #ffffff !important;
        pointer-events: none;
      }
    }

    .dropdown-menu {
      background-color: #fff;
    }

    .dropdown-item {
      color: #333;
      &:hover,
      &:focus {
        background-color: #f8f9fa;
      }
    }
  }
}
