.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .navbar-text {
  margin-right: 20px;
  font-weight: bold;
}

.navbar-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom:0;
  margin-top:0;
}
