.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it is above other content */
  padding-right: var(--gutter-width); /* Adjust padding if needed */
  padding-left: var(--gutter-width); /* Adjust padding if needed */

  .container-fluid {
    max-width: 1281px; /* Adjust to match the max-width of .container */
    padding-left: 0px; /* Adjust to match the padding of .container */
    padding-right: 0px; /* Adjust to match the padding of .container */
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        &.login-register {
          margin-right: -16px; /* Adjust this value as needed to move the link to the right */
        }
      }
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .navbar-text {
    margin-right: 20px;
    font-weight: bold;
  }

  .navbar-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .nav-item .nav-link {
    color: #000;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; /* Align items to the right */
    }

    .nav-item {
      margin-left: 10px;
    }
  }
}

.nav-tabs .nav-link {
  color: #000; /* Ensure links are black */
  text-decoration: none; /* Remove text decoration */
}

.nav-tabs .nav-link:hover {
  text-decoration: none; /* Ensure no underline on hover */
}

.nav-tabs .nav-link.active {
  color: #000; /* Active link color */
}
