
.navbar-wrapper {
  position: fixed; /* Make the navbar fixed */
  top: var(--navbar-height); /* Adjust this value to be below the navbar-lewagon */
  width: 100%; /* Ensure it spans the full width */
  z-index: 999; /* Ensure it is above other content but below navbar-lewagon */
  background-color: #FFFFFF; /* Add background color if needed */
  padding-bottom: 20px;

  .container-fluid {
    max-width: 1281px; /* Adjust to match the max-width of .container */
    padding-left: 0px; /* Adjust to match the padding of .container */
    padding-right: 0px; /* Adjust to match the padding of .container */
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--navbar-wrapper-height); /* Adjust this value to push down the content inside the navbar-wrapper */
    position: relative;
  }

  /* Extend the border using a pseudo-element */
  .container-fluid::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px; /* Adjust to extend the border to the left */
    width: calc(100% + 16px); /* Adjust to extend the border to the right */
    border-bottom: 1px solid #ccc;
  }
}


.custom-navbar {
  width: 100%; /* This can be customized if necessary */
  margin-bottom: -1px;
  padding-top: 20px;
  display: flex;

  .nav-tabs {
    flex-grow: 1;
  }

  .dropdown {
    margin-left: auto; /* Push the dropdown to the far right */
    margin-right: -10px; /* Add some space to the right if needed */

    .fa-icon {
      margin-right: 10px; /* Adjust the space between the icon and the dropdown button */
      margin-left: -10px; /* Move the icon to the left */
    }

    .dropdown-toggle {
      background-color: #007bff; /* Bootstrap standard blue */
      border-color: #007bff; /* Bootstrap standard blue */
      color: white;
      width: 160px; /* Set a fixed width */
      text-align: right; /* Align text to the left */

      &:hover,
      &:focus {
        background-color: darken(#007bff, 10%); /* Darken on hover/focus */
        border-color: darken(#007bff, 10%); /* Darken on hover/focus */
      }

      &.disabled {
        background-color: #6c757d !important; /* Grey background for disabled state */
        border-color: #6c757d !important; /* Grey border for disabled state */
        color: #ffffff !important; /* White text for disabled state */
        pointer-events: none; /* Disable pointer events */
      }
    }

    .dropdown-menu {
      background-color: #fff; /* Set background color to white */
    }

    .dropdown-item {
      color: #333; /* Ensure text color is dark */
      &:hover,
      &:focus {
        background-color: #f8f9fa; /* Light gray background on hover/focus */
      }
    }
  }
}
