.startup-logo {
  max-width: 100px; /* Adjust the maximum width as needed */
  margin-left: auto
}

.description-card {
  height: 100%;
  margin-top: 10px
}

.list-group-item {
  background-color: transparent !important; /* Remove background color */
  border: none !important; /* Remove borders if needed */
}

.border {
  background-color: #F4F4F4;
}

.custom-margin {
  margin-right: 8px; /* Adjust the margin as needed */
}
