.show-content-container {
  .container {
    max-width: 1248px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
  }
}

.startup-logo {
  max-width: 100px;
  margin-left: auto;
}

.description-card {
  height: 100%;
  margin-top: 10px;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}

.border {
  background-color: #F4F4F4;
}

.custom-card-show {
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.custom-card-description {
  margin-left: 0px;
}
