/* Additional Custom Styling */
@media (min-width: 992px) { /* For large screens */
  .custom-navbar {
    width: calc(100% - 16px); /* Adjust the width to match the card grid */
  }
}

.investments-text-inline {
  display: inline;
}

.navbar-wrapper {
  margin-top: 20px; /* Adjust the value as needed */
}

.custom-card {
  width: calc(100% - 30px);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  background-color: white;
  padding-bottom: 0;
}

.custom-card .card-img-top-container {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.custom-card .card-img-top {
  object-fit: contain;
  width: auto;
  height: 80px;
  /* filter: grayscale(100%); /* Convert the image to greyscale */
}

.custom-card .card-body {
  background-color: #F4F4F4;
}

.custom-card .card-title {
  margin-top: 0px;
}

.custom-card .card-text {
  margin-top: 0px;
}


.custom-card .card-footer {
  background-color: white !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1rem;
  border: none
}

.custom-card .card-footer .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(2.25rem + 2px);
  white-space: nowrap;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-card .card-footer .btn:last-child {
  margin-right: 0;
}

.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  margin-top: 100px;
}

.cards-container {
  margin-top: 20px; /* Adjust the value as needed */
}

.custom-navbar {
  width: 97.8%; /* This can be customized if necessary */
  border-bottom: 1px solid #dee2e6;
  margin-bottom: -1px;
}

.icon-text {
  margin-left: 0.75rem;
}

.custom-card .card-body {
  padding: 1rem;
}

.custom-card .card-text {
  margin-bottom: 0.5rem;
}


.btn-primary.btn-custom {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
}

.btn-primary.btn-custom:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary.btn-custom {
  background-color: transparent;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary.btn-custom:hover {
  background-color: #6c757d;
  color: #fff;
}


.btn-danger.btn-custom {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.btn-custom:hover {
  background-color: #dc3545;
  color: #fff;
}


.heart-icon {
    color: #041225; /* Fill color when favorited */
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}
