/* app/assets/stylesheets/application.scss */

/* Additional Custom Styling */
@media (min-width: 992px) { /* For large screens */
  .custom-navbar {
    width: calc(100% - 16px); /* Adjust the width to match the card grid */
  }
}

.investments-text-inline {
  display: inline;
}

.navbar-wrapper {
  margin-top: 20px; /* Adjust the value as needed */
}

.custom-card {
  width: calc(100% - 30px);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  padding-bottom: 0;
}

.custom-card .card-img-top-container {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.custom-card .card-img-top {
  object-fit: contain;
  width: auto;
  height: 50px;
}

.custom-card .card-body {
  background-color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0; /* Ensure no additional padding at the top */
}

.custom-card .card-title {
  margin-top: 0;
}

.custom-card .card-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-text .fundraise-info {
  display: block;
  margin-bottom: 0; /* Ensure no bottom margin */
}

.card-text .fundraise-info .bullets {
  display: inline-block;
  color: #007bff;
  font-weight: 550;
}

.card-text .fundraise-info .break-text {
  display: block;
  max-width: 400px; /* Adjust the width as needed */
  word-wrap: break-word; /* Break words if needed */
  overflow-wrap: break-word; /* Ensure compatibility */
  white-space: normal; /* Ensure text wraps normally */
}

.custom-card .card-footer {
  background-color: white !important;
  margin-top: 0;
  padding-top: 0; /* Ensure no top padding */
  padding-bottom: 1rem; /* Maintain bottom padding for aesthetics */
  border: none;
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.custom-card .card-footer .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-card .card-footer .btn:last-child {
  margin-right: 0;
}

.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .icon-text {
    margin-left: 5px; /* Increase or decrease as needed */
  }
}

.content-container {
  margin-top: 100px;
}

.cards-container {
  margin-top: 20px; /* Adjust the value as needed */
}

.custom-navbar {
  width: 97.8%; /* This can be customized if necessary */
  border-bottom: 1px solid #dee2e6;
  margin-bottom: -1px;
}

.icon-text {
  margin-left: 0.75rem;
}

.btn-primary.btn-custom {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
}

.btn-primary.btn-custom:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary.btn-custom {
  background-color: transparent;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary.btn-custom:hover {
  background-color: #6c757d;
  color: #fff;
}

.btn-danger.btn-custom {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.btn-custom:hover {
  background-color: #dc3545;
  color: #fff;
}

.heart-icon {
  color: #041225; /* Fill color when favorited */
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.link-icon {
  position: absolute;
  top: 10px; /* Align with heart icon */
  right: 40px; /* Adjust to place it left of the heart icon */
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .custom-card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .custom-card .card-title {
    font-size: 1.25rem;
  }

  .custom-card .card-img-top-container {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .custom-card .card-img-top {
    height: auto;
    width: 100%;
    max-height: 100px; /* Add a max-height for mobile screens */
  }

  .custom-card .card-footer .btn {
    margin-bottom: 0.25rem;
    margin-right: 0;
  }

  .btn-custom {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .heart-icon {
    right: 5px;
    top: 5px;
  }

  .link-icon {
    position: absolute;
    top: 5px; /* Align with heart icon */
    right: 20px; /* Adjust to place it left of the heart icon */
  }
}
